body {
    box-sizing: border-box;
    background-color: #fff8f0	;
    color: #333;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b22222	;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    flex-shrink: 0;
}


nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;

}

nav a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 80px; /* espaço para o header fixo */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; /* centraliza horizontalmente */
    padding: 20px;
}

section {
    margin-top: 90px;
    scroll-margin-top: 100px;
}

.preco{
    color: orangered;
}

button {
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}

select {
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(248, 42, 42);
}

select:hover{
    background-color: rgb(148, 148, 148);
}